<section
  class="fixed bottom-0 left-0 w-full h-20 border-t-[0.33px] border-gray-200/30 overflow-hidden backdrop-blur-xl bg-white/75 flex justify-around items-center py-1.5"
>
  <nav class="flex-1 flex justify-around items-center h-full">

    <button class="flex flex-col items-center justify-center gap-4">
      <i class="fa-regular fa-house fa-xl" style="color: #aaacb2"></i>
      <div class="text-gray-400 text-[10px]">Inicio</div>
    </button>

    <button class="flex flex-col items-center justify-center gap-4">
      <i class="fa-regular fa-bell fa-xl" style="color: #aaacb2"></i>
      <div class="text-gray-400 text-[10px]">Novedades</div>
    </button>

    <button class="flex flex-col items-center justify-center gap-4">
      <i class="fa-regular fa-calendar fa-xl" style="color: #aaacb2"></i>
      <div class="text-gray-400 text-[10px]">Agenda</div>
    </button>

    <button class="flex flex-col items-center justify-center gap-4">
      <i class="fa-regular fa-user fa-xl" style="color: #0191c1"></i>
      <div class="moby text-[10px]">Perfil</div>
    </button>

  </nav>
</section>
