<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <div class="col-md-6 mb-3">
    <label for="fullName" class="form-label text-primary">Nombre</label>
    <input
      type="text"
      class="form-control"
      placeholder="Juan"
      formControlName="firstName"
    />
    <!-- @if ( formUtils.isInvalidField(registerForm, 'name')) {
    <app-error-message-form
      [$message]="formUtils.getFieldError(registerForm, 'name')!"
    />
    } -->
  </div>
  <div class="col-md-6 mb-3">
    <label for="lastName" class="form-label text-primary">Apellido</label>
    <input
      type="text"
      class="form-control"
      placeholder="Pérez"
      formControlName="lastName"
    />
    <!-- @if ( formUtils.isInvalidField(registerForm, 'name')) {
    <app-error-message-form
      [$message]="formUtils.getFieldError(registerForm, 'name')!"
    />
    } -->
  </div>
  <div class="col-md-4 mb-3">
    <label for="province" class="form-label text-primary">Provincia</label>
    <select class="form-select" formControlName="province">
      <option value="">Elige una opción</option>
      @for (province of provinces; track province.id) {
      <option>{{ province.nombre }}</option>
      }
    </select>
  </div>

  <div class="col-md-4 mb-3">
    <label for="locality" class="form-label text-primary">Localidad</label>
    <select class="form-select" formControlName="locality">
      <option value="">Elige una opción</option>
      @for (locality of localities; track locality.id) {
      <option>{{ locality.nombre }}</option>
      }
    </select>
  </div>

  <div class="col-md-6 mb-3">
    <label for="project" class="form-label text-primary">Proyecto</label>
    <input
      type="text"
      class="form-control"
      placeholder="Trenes"
      formControlName="project"
    />
    <!-- @if ( formUtils.isInvalidField(registerForm, 'name')) {
    <app-error-message-form
      [$message]="formUtils.getFieldError(registerForm, 'name')!"
    />
    } -->
  </div>

  <div class="col-md-6 mb-3">
    <label for="technology" class="form-label text-primary"
      >Tecnología Actual</label
    >
    <input
      type="text"
      class="form-control"
      placeholder="Trenes"
      formControlName="technology"
    />
    <!-- @if ( formUtils.isInvalidField(registerForm, 'name')) {
    <app-error-message-form
      [$message]="formUtils.getFieldError(registerForm, 'name')!"
    />
    } -->
  </div>

  <div class="col-md-6 mb-3">
    <label for="talent_partner" class="form-label text-primary"
      >Talent Partner</label
    >
    <input
      type="text"
      class="form-control"
      placeholder="Eimi"
      formControlName="talent_partner"
    />
    <!-- @if ( formUtils.isInvalidField(registerForm, 'name')) {
    <app-error-message-form
      [$message]="formUtils.getFieldError(registerForm, 'name')!"
    />
    } -->
  </div>

  <div class="col-md-6 mb-3">
    <label for="referent" class="form-label text-primary">Referente</label>
    <input
      type="text"
      class="form-control"
      placeholder="Javi"
      formControlName="referent"
    />
    <!-- @if ( formUtils.isInvalidField(registerForm, 'name')) {
    <app-error-message-form
      [$message]="formUtils.getFieldError(registerForm, 'name')!"
    />
    } -->
  </div>

  <button class="">Guardar</button>
</form>
