@import "tailwindcss";
@plugin "tailwindcss-primeui";
@import "primeicons/primeicons.css";

/* Opcional: definís tu tema */
@theme {
  --color-primary: rgba(15, 23, 35, 1);
  --color-secondary: #f59e0b;
  --color-moby: rgba(1, 145, 193, 1);
  --color-container: rgba(245, 245, 245, 1);
}

button.p-button {
  background-color: var(--color-moby);
  border-color: var(--color-moby);
  padding: 12px 0px;
  &:hover {
    background-color: var(--color-moby);
  }
}
